* {
    margin: 0;
    transition: all 0.35s ease;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

header {
    zoom: 0.8;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 3rem;
    display: flex;
    border-bottom: 4px solid black;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #EEEEEE;
}

body.dark {
  background: black;
}

header.dark {
    background: rgba(0,0,0,0.3);
    border-bottom: 4px solid #ffff73;
}

.logo {
    width: 100px;
    padding: 0.5rem;
}

g {
    fill: black;
    stroke: black;
}

path {
    fill: black;
    stroke: black;
}

g.dark {
    fill: #ffff73;
    stroke: #ffff73;
}

path.dark {
    fill: #ffff73;
    stroke: #ffff73;
}

.posts {
  width: 100vw;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding-top: 3rem;
  
}

.post {
  margin: 2rem 0.5rem 3rem;
}

.post > h2 {
  font-size: 2rem;
  color: white;
}

.post > h2.dark {
  color: black;
}

.post > .post-body {
  display: none;
}

.post-body > figure {
  display: none;
}

.post-body > p {
  padding: 0.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.3;
  color: black;
}

.post-body > blockquote {
  display: block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
  color: black;
}

.post-body > blockquote.dark {
  color: black;
}

.post-body > p > * {
  color: black;
}

.post-body > p > *.dark {
  color: #ffff73;
}

.post-body > p > mark {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: transparent;
  font-style: italic;
  color: black;
}

.post-body > p > mark.dark {
  color: white;
}

.post-body > h2 {
  margin: 2rem 0.5rem 0;
  text-decoration: underline;
}

.post-body > ul {
  padding: 1rem 2rem 0;
}



.post-body > ul > li {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.post-body > ul > li > a {
  color: black;
}

.post-body > ul > li > a.dark {
  color: white;
}

.post-body > p.dark {
  color: white;
}

blockquote.dark > p {
  color: white;
}

.jeti-html, .jeti-roadblock, .ad {
  display: none;
}

.post.open > .post-body {
  display: block;
}

.post > h2 {
  border-left: 4px solid black;
  padding-left: 0.5rem;
  color: black;
  cursor: pointer;
}

.post > h2.dark {
  border-left: 4px solid #ffff73;
  color: #ffffff;
}

.posts.dark, body.dark {
  color: white;
  background: black;
}

.sub-header {
  display: flex;
  justify-content: start;
  padding: 1rem 0.5rem 0 0.5rem;
}

.author {
  color: black;
  margin-right: 2rem;
}

.author.dark {
  color: #ffff73;
}

.date {
  color: black;
}

.date.dark {
  color: white;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1rem;
	position: relative;
	top: 1rem;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1rem;
  right: 1rem;
  transition: transform 0.25s ease-in;
	transform: rotate(-135deg);
  position: absolute;
  border-color: black;
}

.chevron.open::before {
  transform: rotate(-315deg);
}

.chevron.dark::before {
  border-color: white;
}

.menu {
  width: 100vw;
  right: calc(-100vw - 3px);
  position: fixed;
  height: calc(100vh - 2.5rem);
  border-left: 3px solid black;
  top: calc(2.5rem + 2px);
  max-width: 13rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.menu.dark {
  border-left: 3px solid#ffff73;
  background: rgba(0,0,0,0.3);
}

.menu.open {
  right: 0;
}

.menu-line {
  position: relative;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.menu-label {
  font-size: 2rem;
}

.switch-wrapper {
  height: 1.5rem;
  width: 3.5rem;
  background: #3c4145;
  position: absolute;
  border: 0.2rem solid #333;
  overflow: hidden;
  top: 1.4rem;
  right: 1.4rem;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  transition: all 0.35s ease;
}
.switch-wrapper:hover {
  cursor: pointer;
}
.switch-wrapper.active {
  background: #ffff73;
  border: 0.2rem solid black;
}

.switch {
  position: absolute;
  z-index: 2;
  transition: all 0.35s ease;
  height: 1rem;
  width: 1.05rem;
  left: 0.25rem;
  top: 0.25rem;
  border-radius: 1.4rem;
  background: #ffffff;
  border: 0.2rem solid #333;
  box-sizing: border-box;
}
.active .switch {
  left: 2.25rem;
}

.theme-switch {
  margin-bottom: 4.5rem;
}

.active .switch {
  background: #ffffff;
  border-color: black;
}

.bmc-button {
  width: 100%;
  height: 2.5rem;
  text-decoration: none;
  background-color: #EEEEEE;
  border-radius: 30px;
  border: 3px solid black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.7rem;
}

.bmc-button > span {
  font-weight: 500;
  color: black;
}

.bmc-button.dark {
  background-color: black;
  border: 3px solid #ffff73;
}

.bmc-button.dark > span {
  color: white;
}
